priority -50

snippet aservi "Angular Typescript Service with new interface"

export interface I$1 {
	$0
}

export class ${1:Service Name} implements I$1 {
	public static inject: string[] = [];

	constructor() {
		// nop
	}
}

endsnippet
